<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/basic.css?v=3' | relative_url }}">


</head>
<body>
  <header>
    <h1>Raihnforge</h1>
 <div class="nav">
  <a href="/">Home</a>
  <a href="/notes/">Notes</a>
  <a href="/test/">Test Page</a>
</div>

  </header>

  <main>
    {{ content }}
  </main>

<footer class="site-footer">
  <div class="container">
    © {{ "now" | date: "%Y" }} {{ site.title | default: 'Raihnforge' }}
  </div>
</footer>

</body>
</html>
